.view {
    transition: all 0.15s ease-in-out;
}

.view.ng-enter {
    opacity: 0;
    position: absolute;
    transform: translateX(300px);
}

.view.ng-leave-active {
    opacity: 0;
    transform: translateX(-300px);
}