<h1 class="title">Editor</h1>

<div class="main-container">
    <section class="editor col-md-6">
        <ul class="list-group" dnd-list="paragraphs">
            <li class="list-group-item" ng-repeat="paragraph in paragraphs" dnd-draggable="paragraph" dnd-effect-allowed="move" dnd-moved="paragraphs.splice($index, 1)">
                
                <!-- Editable content -->
                <div class="textarea" contenteditable="true" ng-model="paragraph.text" placeholder="{{paragraph.placeholder}}"></div>
                
                <!-- Add / remove icons -->
                <a class="action plus" ng-click="addParagraph($index)">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
                <a class="action minus" ng-click="removeParagraph($index)" ng-class="{ 'inactive' : paragraphs.length == 1 }">
                    <i class="glyphicon glyphicon-minus"></i>
                </a>
            </li>
        </ul>
    </section>

    <!-- Preview area -->
    <section class="preview col-md-6">
        <pre>{{ getResult() }}</pre>
    </section>
</div>